<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Terra Cottage Realty Group, LLC</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
<h1>Terra Cottage Realty Group, LLC</h1>
</br>

</header>

<aside>
<div><h3>Selling your house?</h3></div>
<blockquote>Selling your home is an involved process that affects your family and your future.  Before you begin this process, you'll want to ensure that you have the most up-to-date information.  When should you sell?  How do you get the best price? What kinds of renovations should be made prior to the sale? 

These home selling reports will assist you in answering the many questions that arise during the home selling process.  When you're armed with the right information, and an experienced real estate professional, you'll be closer to reaching your goal - selling your home fast, and for the best price.
</aside>
<section>
<%= image_tag 'terracottage.jpg' %></br>

<p>Welcome to Terra Cottage Realty Group, your one stop source for Pocono Mountain Real Estate.
 
Terra Cottage Realty Group is located in the Heart of Lake Harmony, Pennsylvania home to the Ski Resorts at Jack Frost Mountain and Big Boulder. The Terra Cottage Team specializes in the purchase and sale of single-family residences and income property within the communities of Lake Harmony Estates, Snow Ridge at Jack Frost Mountain, Split Rock Resort, Blue Heron, Mid Lakes and Laurelwoods at Big Boulder Ski Area, Towamensing Trails, Brier Crest Woods, and the surrounding communities of Carbon and Monroe Counties.
 
<p>If you own real estate that you're thinking of selling, we will be happy to provide you with a FREE Home Evaluation and our Targeted Marketing Plan.
We can help you purchase any property in North East Pennsylvania. Many good homes are sold before they are ever advertised. Beat other home buyers to the hottest new homes for sale in the Pocono Mountain Area with our New Listings Notification or Search the Pocono Mountain MLS for all Pocono homes ! Visit our Listing page and Featured Home Section for recent postings.
<p>
Do you know how much home you can afford? Avoid surprises; call for a no obligation Pre-Qualification or Pre-Approval.</p>
<p>Whether you are buying or selling a home, business or commercial property, hire a professional agent that wants to earn your business. I invite you to contact us today for a no obligation consultation. </p>
</p>
</section>
<footer>

</footer>
</body>
</html>


