<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>rentals</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
<h1>Rentals</h1>

</header>
<h1>Vacation Properties</h1>
<figure class>
 <div class="photo-right"><%= image_tag 'water.jpg' %></div>
</figure>
<p></p>
<p>
There are two choices for most Residential or Short-Term Vacation rentals: 
</br>
    <figure>
        <div class="photo-leftt"><%= image_tag 'duck-thumb.jpg' %></div>
        <figcaption>Residents</figcaption>
    </figure>
</br>
</br>
    <figure>
        <div class="photo-leftt"><%= image_tag 'bear-thumb.jpg' %></div>
        <figcaption>Fun seekers</figcaption>
    </figure>
</p>
<footer>

</footer>
</body>
</html>

